
body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 150px;
  background: url("../images/QCPark.jpg");
  background-position: center;
  background-size: cover;
}

html {
  min-height: 100%;
  position: relative;
}

h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h1, h3 {
  color: #4286f4;
}

h2, h4 {
  color: #fff;
}

p {
  font-family: 'Lora', serif;
  font-size: 16px;
}

/*---------NAV START----------*/
.navbar-custom { background-color: #bdcfed; }

#logo {

  /* Positioning */
  margin-left: 50px;

  /* Box-model */
  height: 60px;
  padding-top: 20px;
  padding-bottom: 5px;

  /* Typography */
  font-size: 24px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: #fff;

  /* Visual */
  background: #4286f4;

}

.navbar-right-custom {

  /* Box-model */
  padding-top: 6px;
  padding-right: 20px;

  /* Typography */
  font-family: Arial;
  font-weight: lighter;

}

.navbar-default .navbar-nav>li>a:hover { color: #4286f4; }

/*--------NAV END----------*/

.social {
  width: 50px;
}

section {
	background-color: #fff;
}

.row {
	margin-top: 15px;
}

.panel-default {
	margin-top: 40px;
}

#main-section {
	margin: 80px 0 0 0;
}

.navbar-brand {
	background-color: #4286f4;
	color: #fff !important;
}

.thumbnail {
    position: relative;
    height: 200px;
    color: #fff !important;
}

.caption {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    background-color: #4286f4;
}

.connect {
    margin: 80px 0 0 0;
}

#contact-form {
    margin: 15px;
}

<!-- Sticky footer -->
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;	
  height: 60px;
  background-color: #666;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
